<h4 class="sub-headline"><%=@hoonta.hoonta_name%></h4>

<%= handle_message %>

<div class="row">
  <div class="one columns u-full-width">
    <h5></h5>
  </div>
  <div class="seven columns u-full-width">
    <h5>topic</h5>
  </div>
  <div class="three columns u-full-width">
    <h5>deadline</h5>
  </div>
</div>

<% if not @topics.empty? %>

  <% @topics.each do |topic| %>
    <div class="row">
      <% if session[:current_user] == topic.user_id %>
      <form action="/topic/delete_topic/<%= topic.id %>" method="post" class="thin">
        <div class="one column trash" onclick="javascript:this.parentNode.submit()">
          <i class="material-icons">delete</i>
        </div>
        </form>
        <% else %>
          <div class="one column trash u-full-width">
          </div>
        <% end %>

      <a href="/topic/<%= topic.id %>" method="get">

        <div class="eleven columns topic-row">

          <div class="seven columns u-full-width">
            <%= topic.topic_name %>
          </div>

          <div class="three columns u-full-width">
            <%= topic.deadline %>
          </div>

        </div>
      </a>

    </div>

  <% end %>
<% end %>

<div class="roomy row">
  <a href="/topic/create/<%= @hoonta.id %>">Create a topic</a>
</div>
<div class="roomy row">
  <a href="/hoonta/leave/<%= @hoonta.id %>">Abandon Hoonta</a>
</div>

<h5>Members</h5>
<div class="row">
  <% @rosters.each do |roster| %>
    <div class="two columns user-box roomy">
      <%= User.find(roster.user_id).user_name %>
    </div>
  <% end %>
</div>
