<form action="/hoonta/edit/<%= @hoonta.id %>" method="post">
  <input type="text" id="edit-input" name="new_name">
</form>

<h4 id="edit-target" class="sub-headline">
  <%= @hoonta.hoonta_name %>
  <% if @hoonta.user_id == session[:current_user] %>
    <div class="edit-right"><i id="edit-icon" class="material-icons">mode_edit</i></div>
  <% end %>
</h4>

<%= handle_message %>

<% if not @topics.empty? %>
<table>
  <tbody>
<tr>
  <td>
    <h5></h5>
  </td>
  <td>
    <div class="title-row">
    <div class="u-pull-left">
    <h5>topic</h5>
  </div>
  <div class="u-pull-right">
    <h5>deadline</h5>
  </div>
</div>
  </td>
</tr>
  <% @topics.each do |topic| %>
    <tr>
      <% if session[:current_user] == topic.user_id %>
      <td>
      <form action="/topic/delete_topic/<%= topic.id %>" method="post" class="thin">
        <button type="submit" class="one column trash">
          <i class="material-icons">delete</i>
        </button>
      </form>
      <% else %>
        <div class="one column trash u-full-width">
        </div>
      <% end %>
      </td>
      <td class="u-full-width">
      <a href="/topic/<%= topic.id %>" method="get">

        <button class="topic-row">
          <div class="u-pull-left">
            <%= topic.topic_name %>
          </div>
            <div class="u-pull-right weak">
            <% if topic.deadline.nil? %>
              N/A
            <% else %>
              <%= topic.deadline.to_time.strftime('%a %b %d %I:%M%p %Z %Y')%>
            <% end %>
          </div>

        </button>
      </a>
    </td>

    </tr>

  <% end %>
</tbody>
</table>
<% end %>

<div class="roomy row">
  <a href="/topic/create/<%= @hoonta.id %>"><button>Create a topic</button></a>
</div>


<h5>Members</h5>
<div class="roomy row">
  <% @rosters.each do |roster| %>
    <div class="two columns user-box roomy">
      <%= User.find(roster.user_id).user_name %>
    </div>
  <% end %>
</div>
<div class="roomy row">
  <a href="/hoonta/leave/<%= @hoonta.id %>"><button>Abandon Hoonta</button></a>
</div>
