<% @topic = get_topic %>
<% @hoonta = Hoonta.find(session[:hoonta]) %>
<div class="previous-page">
  <a href="/hoonta/home" class="previous-page-link"> <%= "#{@hoonta.hoonta_name}" %></a>
</div>

<h4 class="flat-sub-headline"><%= @topic.topic_name %></h4>
<%= handle_message %>

<div class="row">

  <div class="ten columns u-full-width">
    <h5>Idea</h5>
  </div>
  <div class="two columns vote-tally">
    <h5>Votes</h5>
  </div>

</div>
<% @ideas = Idea.where(topic_id: @topic.id) %>
<% if not @ideas.empty? %>
<div class="row">
  <% @ideas.each do |idea| %>
    <form action="/vote" method="post" class="thin">

      <input hidden type="text" name="idea_id"  value="<%= idea.id %>">
      <input hidden type="text" name="user_id"  value="<%= current_user.id %>">
      <input hidden type="text" name="topic_id" value="<%= @topic.id %>">

      <div class="row topic-row" onclick="javascript:this.parentNode.submit()">

        <div class="eleven columns u-full-width">
          <%= idea.idea_name %>
        </div>

        <div class="one columns vote-tally">
          <%= Vote.where(idea_id: idea.id).length %>
        </div>

      </div>
    </form>
    <% end %>
  </div>
<% end %>

Click the idea to vote for it!

<div class="roomy row">
  <form action="/idea" method="post">
    <input required type="text" name="idea_name" placeholder="idea">
    <input   hidden type="text" name="user_id"   value="<%= current_user.id %>">
    <input   hidden type="text" name="topic_id"  value="<%= @topic.id %>">
    <input class="button-primary" type="submit" value="ADD IDEA">
  </form>

  <!-- <form action="/topic/destroy" method="post">
    <input type="button" value="Delete Topic">
  </form> -->
</div>
