<div class="previous-page">
  <a href="/hoonta/home/<%= @hoonta.id %>" class="previous-page-link"><%= @hoonta.hoonta_name %></a>
</div>

<h4 class="flat-sub-headline"><%= @topic.topic_name %></h4>
<%= handle_message %>

<div class="row">

  <div class="one columns u-full-width">
    <h5></h5>
  </div>
  <div class="nine columns u-full-width">
    <h5>idea</h5>
  </div>
  <div class="two columns vote-tally">
    <h5>votes</h5>
  </div>

</div>

<% if not @ideas.empty? %>

<div class="delete-row">
  <div class="one columns u-full-width">
      <form action="/delete_item" method="post">
        <a class="" href=""><i class="material-icons">delete</i></a>
      </form>
  </div>
</div>

<div class="row">
  <% @ideas.each do |idea| %>

    <form action="/vote/<%= session[:current_user] %>/<%= idea.topic_id %>/<%= idea.id %>" method="post" class="thin">

      <div class="row topic-row" onclick="javascript:this.parentNode.submit()">

        <div class="nine columns u-full-width">
          <%= idea.idea_name %>
        </div>

        <div class="two columns vote-tally">
          <%= Vote.where(idea_id: idea.id).length %>
        </div>

      </div>
    </form>
    <% end %>
  </div>
<% end %>


Click on an idea to vote for it!

<div class="roomy row">
  <form action="/idea/<%= session[:current_user] %>/<%= @topic.id %>" method="post">
    <input required type="text" name="idea_name" placeholder="idea (limit one per )">
    <input class="button-primary" type="submit" value="add idea">
  </form>

  <!-- <form action="/topic/destroy" method="post">
    <input type="button" value="Delete Topic">
  </form> -->
</div>
