<div class="previous-page">
  <a href="/hoonta/home/<%= @hoonta.id %>" class="previous-page-link"><%= @hoonta.hoonta_name %></a>
</div>

<h4 class="flat-sub-headline"><%= @topic.topic_name %></h4>
<%= handle_message %>

<div class="row">

  <div class="one columns u-full-width">
    <h5></h5>
  </div>
<<<<<<< HEAD
  <div class="eight columns u-full-width">
    <h5>Idea</h5>
  </div>
  <div class="two columns u-full-width">
    <h5>Votes</h5>
=======
  <div class="nine columns u-full-width">
    <h5>idea</h5>
  </div>
  <div class="two columns vote-tally">
    <h5>votes</h5>
>>>>>>> b2916d3d9cb3d5c05ea68a56a9cc4c198098ea10
  </div>

</div>

<% if not @ideas.empty? %>

  <% @ideas.each do |idea| %>
  <div class="row">
    <% if session[:current_user] == idea.user_id %>
      <form action="/idea/delete/<%= idea.id %>" method="post" class="thin">
        <div class="one column trash" onclick="javascript:this.parentNode.submit()">
          <i class="material-icons">delete</i>
        </div>
      </form>
    <% else %>
      <div class="one column trash u-full-width">
      </div>
    <% end %>

    <div class="eleven columns topic-row" onclick="javascript:this.childNodes[1].submit()">
      <form action="/vote/<%= session[:current_user] %>/<%= idea.topic_id %>/<%= idea.id %>"
            method="post" id="vote-<%= idea.id %>" class="thin">


          <div class="nine columns u-full-width">
            <%= idea.idea_name %>
          </div>

          <div class="two columns vote-tally">
            <%= Vote.where(idea_id: idea.id).length %>
          </div>
        </form>
      </div>
  </div>
    <% end %>
<% end %>


Click on an idea to vote for it!

<div class="roomy row">
  <form action="/idea/<%= session[:current_user] %>/<%= @topic.id %>" method="post">
    <input required type="text" name="idea_name" placeholder="idea (limit one per )">
    <input class="button-primary" type="submit" value="add idea">
  </form>

  <!-- <form action="/topic/destroy" method="post">
    <input type="button" value="Delete Topic">
  </form> -->
</div>
