<div class="previous-page">
  <a href="/hoonta/home/<%= @hoonta.id %>" class="previous-page-link"><%= @hoonta.hoonta_name %></a>
</div>


<form action="/topic/edit/<%= @topic.id %>" method="post">
  <input type="text" id="edit-input" name="new_name">
</form>

<h4 id="edit-target" class="flat-sub-headline">
  <%= @topic.topic_name %>
  <% if @topic.user_id == session[:current_user] %>
    <div class="edit-right"><i id="edit-icon" class="material-icons">mode_edit</i></div>
  <% end %>
</h4>

<%= handle_message %>

<div class="row">
  <div class="one column trash u-full-width"></div>

  <div class="two columns u-full-width u-pull-left">
    <h5>idea</h5>
  </div>
  <div class="two columns u-full-width u-pull-right">
    <h5>votes</h5>
  </div>

</div>

<% if not @ideas.empty? %>

  <% @ideas.each do |idea| %>
  <div class="row">
    <% if session[:current_user] == idea.user_id %>
      <form action="/idea/delete/<%= idea.id %>" method="post" class="thin">
        <button class="one column trash" type="submit">
          <i class="material-icons">delete</i>
        </button>
      </form>
    <% else %>
      <div class="one column trash u-full-width">
      </div>
    <% end %>

  <form action="/vote/<%= session[:current_user] %>/<%= idea.topic_id %>/<%= idea.id %>"
        method="post" id="vote-<%= idea.id %>" class="thin">
    <button class="topic-row" type="submit">
      <div class="two columns u-full-width u-pull-left ">
        <%= idea.idea_name %>
      </div>

      <div class="two columns u-full-width u-pull-right">
        <%= Vote.where(idea_id: idea.id).length %>
      </div>
    </button>
  </form>
</div>
    <% end %>
<% end %>


<div class="roomy row"><h6>Click on an idea to vote for it!</h6></div>

<div class="roomy row">
  <form action="/idea/<%= session[:current_user] %>/<%= @topic.id %>" method="post">
    <input required type="text" name="idea_name" placeholder="idea (limit one per user)">
    <input class="button-primary" type="submit" value="add idea">
  </form>

</div>
