<h4 class="sub-headline">home</h4>
<%= handle_message %>



<% if not @rosters.empty? %>
<h5>you can vote on these topics:</h5>

<% @rosters.each do |roster| %>

  <% hoonta = Hoonta.find(roster.hoonta_id) %>
  <% topics = Topic.where(hoonta_id: hoonta.id) %>
    <% if not topics.empty? %>

      <span class="">
        <a class="table-label" href="/hoonta/home/<%=hoonta.id%>">
          <%= hoonta.hoonta_name %>
        </a>
      </span>
      <table class="u-full-width hoonta-splat">
        <thead>
          <tr>
            <th class="row-title">Topic</th>
            <th>Deadline</th>
          </tr>
        </thead>
        <tbody>
        <% topics.each do |topic| %>

          <tr class="splat-innards">
            <td>
              <a class="splat-item" href="/topic/<%= topic.id %>">
                <%= topic.topic_name %>
              </a>
            </td>
            <td>
              <% if topic.deadline.nil? %>
                N/A
              <% else %>
              <%= topic.deadline.to_time.strftime('%a %b %d %I:%M%p %Z %Y')%>
              <% end %>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>
    <% end %>

  <% end %>
<% else %>
  <h5>You don't belong to a hoonta!</h5>
  <a href="/hoonta/create">Create</a> or <a href="/hoonta/join">Join</a> one to get started.
<% end %>
