<h4 class="sub-headline">home</h4>
<%= handle_message %>

<h5>You can vote on these topics:</h5>


    <% if not @rosters.empty? %>
      <% @rosters.each do |roster| %>

        <% hoonta = Hoonta.find(roster.hoonta_id) %>
        <% topics = Topic.where(hoonta_id: hoonta.id) %>
          <% if not topics.empty? %>
            <span class="table-label"><%= hoonta.hoonta_name %></span>
            <div class="table-splat">
            <table class="collapsed">
              <thead>
                <tr>
                  <th>Topic</th>
                  <th>Deadline</th>
                </tr>
              </thead>
              <tbody>

                <% topics.each do |topic| %>

                  <tr>
                    <td>
                      <a href="/topic/<%= topic.id %>">
                        <%= topic.topic_name %>
                      </a>
                    </td>
                    <td>
                      <%= topic.deadline %>
                    </td>
                  </tr>

                <% end %>
              </tbody>
            </table>
          </div>
          <% end %>
        <% end %>
      <% end %>
